.quote p {
  font-size: 28px;
  font-weight: bolder;
  margin-top: 14%;
  margin-left: 12%;
  margin-right: 8%;
  animation-name: entering;
  animation-duration: 1s;
}

@keyframes entering {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
